<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>
</head>
<body>
<h1>부산 추천 여행지 카테고리 선택</h1>
<p>인원을 선택해주세요.</p>
<form action="/search" method="get">
  <button type="submit" name="groupName" value="가족">가족</button>
  <button type="submit" name="groupName" value="부모">부모</button>
  <button type="submit" name="groupName" value="아이">아이</button>
  <button type="submit" name="groupName" value="커플">커플</button>
  <button type="submit" name="groupName" value="친구">친구</button>
  <button type="submit" name="groupName" value="혼자">혼자</button>
</form>

<p>계절을 선택해주세요.</p>
<form action="/search" method="get">
  <button type="submit" name="seasonName" value="봄">봄</button>
  <button type="submit" name="seasonName" value="여름">여름</button>
  <button type="submit" name="seasonName" value="가을">가을</button>
  <button type="submit" name="seasonName" value="겨울">겨울</button>
  <button type="submit" name="seasonName" value="사계절">사계절</button>
</form>

<p>테마를 선택해주세요.</p>
<form action="/search" method="get">
  <button type="submit" name="iemName" value="자연">자연</button>
  <button type="submit" name="iemName" value="공원">공원</button>
  <button type="submit" name="iemName" value="쇼핑">쇼핑</button>
  <button type="submit" name="iemName" value="걷기">걷기</button>
  <button type="submit" name="iemName" value="이색여행">이색여행</button>
  <button type="submit" name="iemName" value="문화">문화</button>
  <button type="submit" name="iemName" value="체험">체험</button>
  <button type="submit" name="iemName" value="축제">축제</button>
  <button type="submit" name="iemName" value="역사">역사</button>
</form>


</body>
</html>
